.mainBdm{
    margin-top: 5%;
    background-image: url('https://official-website-skilancersolar.s3.ap-south-1.amazonaws.com/Image/BDM+Img.jpeg');
    background-size: cover;
    height: auto;
    margin-left: 15px;
}